body > main {
    > .container {
        box-sizing: border-box;
        padding: 2em;
    }
    @media screen and (min-width: $window-med) {
        position: relative;

        &:before {
            background: -moz-linear-gradient(top, #e4eff8 0%, #ffffff 200px); /* FF3.6+ */
            //background: -webkit-linear-gradient(top,  #e4eff8 0%,#ffffff 200px); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #e4eff8 0%,#ffffff 200px); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #e4eff8 0%,#ffffff 200px); /* IE10+ */
            background: linear-gradient(to bottom,  #e4eff8 20em,#ffffff 30em); /* W3C */
            box-sizing: content-box;
            content: '';
            display: block;
            height: 200px;
            padding: 20em 0 0 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;

        }
        > .container {
            background: #fff;
            border-top: .4em solid #1e59ae;
            margin: 0 auto;
            min-height: 40em;
            padding: 2em;
            position: relative;
            width: 46em;
            z-index: 3;
        }
    }
    @media screen and (min-width: $window-lg) {
        > .container {
            width: 60em;
        }
    }

}
