/*dl*/.input-field {
    padding: .5em 0;

    > dt {
        font-size: (12em/16);
        font-weight: normal;
        margin: 0 0 .25em 0;

        > label {
            font-weight: normal;
        }
    }
    > dd {
        margin: 0;
        padding: 0;

        input[type="text"],
        input[type="date"],
        input[type="tel"],
        input[type="email"] {
            box-sizing: border-box;
            border: 1px solid #e0e0e0;
            font-family: $font-body-family;
            font-size: 1em;
            padding: .5em;
            transition: border-color .35s ease-in-out, background-color .5s ease-in-out;
            width: 100%;

            &:focus {
                background-color: #ffffff;
                border-color: #a0a0a0;
            }
        }
        > .intl-tel-input > input[type="tel"] {
            padding-left: 44px;
        }
    }
    &.mod-radio {
        > dd {
            margin-bottom: .25em;
            padding: 0 0 0 1.6em;
            vertical-align: middle;

            > label {
                margin: 0;
                vertical-align: middle;

                
                > input[type="radio"] {
                    font-size: 1em;
                    margin: 0 .45em 0 -1.4em;
                    padding: 0;
                    vertical-align: middle;

                    + span {
                        margin: 0;
                        padding: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    &.mod-checkbox {
        > dd {
            margin-bottom: .25em;
            padding: 0 0 0 1.6em;
            vertical-align: middle;

            > label {
                margin: 0;
                vertical-align: middle;

                > input[type="checkbox"] {
                    font-size: 1em;
                    margin: 0 .45em 0 -1.4em;
                    padding: 0;
                    vertical-align: middle;

                    + span {
                        margin: 0;
                        padding: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    @media all and (min-width: $window-med) {
        background: #f4f4f4;
        margin: 2px 0;
        transition: background .25s linear;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
        &:hover {
            background: #fafafa;
        }
        > dt {
            color: #666;
            float: left;
            font-size: (13em/16);
            margin: 0;
            padding: 1em 0 0 1em;
            width: 8em;
        }
        > dd {
            margin-left: 8em;

            input[type="text"],
            input[type="date"],
            input[type="tel"],
            input[type="email"] {
                font-size: (14em/16);
                width: 20em;

                &.datePicker { width:inherit; }
                &.timePicker { width:inherit; }
            }
        }

        &.mod-radio, &.mod-checkbox {
            > dt {
                padding-top: .2em;
            }
        }
    }
}
