ansible/roles/City-of-Bloomington.*
ansible/*.retry

prepare.java
quartz.properties
context.xml
target

# Eclipse Project Files
.classpath
.project
.settings

*.elc
*~
*\#
.*.swp
._*
.DS_Store
*.tar.gz
*.retry
docs/_site
docs/_post
docs/.sass-cache
docs/temp
