.alert {
  display: flex;
  position: relative;
  padding: $alert-padding;
  margin: $alert-margin;
  border: $alert-border;
  background: $alert-background-color;
  border-radius: $alert-border-radius;

  p {
    color: $alert-text-color;
    margin: 0;
    padding: 0;
  }

  .close {
    margin-left: auto;
    padding: 0;
    color: white;
    border: none;
    border-radius: 0;
    font-size: $font-size-medium;

    &:hover {
      color: white;
    }
  }

  &.strut-action {
    padding: 0;
    margin: 0 0 20px 0;
    border: none;
    background: transparent;
    border-radius: 0;

    ul {
      width: 100%;
      margin: 0 auto;
      width: calc(100% - 8px);
      min-width: calc(100% - 8px);
      padding: 0;
      border: none;
      background: transparent;
      border-radius: 0;

      li {
        display: flex;
        position: relative;
        padding: $alert-padding;
        margin: $alert-margin;
        border: $alert-border;
        background: $alert-background-color;
        border-radius:$alert-border-radius;
        color: $alert-text-color;
      }
    }
  }
}

.time-block {
  .alert {
    margin: 10px;
    display: none;

    &.active {
      display: block;
    }
  }
}