.calendar {
  width: 100%;
  min-width: 100%;
  height: 100%;



  .daily-header {
    display: flex;

    > div {
      background-color: rgba(255,255,255,0.8);
      color: $dark-slate;
      padding: 10px 0 10px 5px;
      margin: 2px;
      flex: 1 1 0;

      &.weekend {
        background-color: blue;
      }
    }
  }

  .week {
    display: flex;

    > div {
      position: relative;
      background-color: rgba(255,255,255,0.8);
      color: $silver-chalice;
      min-height: 125px;
      padding: 10px 0 75px 5px;
      margin: 2px;
      flex: 1 1 0;

      &:hover {
        background-color: $gainsboro;
        color: white;
      }

      .day-of-month {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0 0 5px;
        text-decoration: none;
        color: $silver-chalice;

        &:hover {
          background-color: $cob-blue;
          color: white;
        }
      }

      &.weekend {
        background-color: blue;
      }
    }
  }
}