.calendar {
  margin: 0 auto;
  width: calc(100% - 4px);
  min-width: calc(100% - 4px);
  height: 100%;

  .daily-header {
    display: flex;

    > div {
      background-color: $silver-chalice;
      color: white;
      padding: 5px 0 5px 5px;
      margin: 2px;
      flex: 1 1 0;

      &.weekend {
        background-color: blue;
      }
    }
  }

  .week {
    display: flex;

    > div {
      position: relative;
      background-color: rgba(255,255,255,0.9);
      color: $silver-chalice;
      min-height: 125px;
      padding: 5px;
      margin: 2px;
      flex: 1 1 0;

      .day-of-month {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0 0 5px;
        text-decoration: none;
        color: $silver-chalice;

        &:hover {
          background-color: lighten($cob-blue, 20%);
          // background-color: $gainsboro;
          color: white;

          ~ .data-cell {
            background-color: $vista-white;
          }
        }
      }

      &.weekend {
        background-color: rgba(255,255,255,0.45);
      }

      &.holiday {
        background-color: rgba(255,255,255,0.45);

        > span {
          z-index: 1;
          position: absolute;
          top: 30px;
          right: 5px;
          left: 5px;
          font-size: 13px;
          color: white;
          background: $san-marino;
          border-radius: 2px;
          padding: 2px 5px;
        }

        .data-cell {
          &:first-of-type {
            margin: 47px 0 0 0;
          }
        }
      }
    }

    .data-cell {
      position: relative;
      background-color: $gainsboro;
      margin: 5px 0 0 0;
      padding: 5px;
      text-align: left;
      color: black;
      text-decoration: none;
      font-size: 12px;

      &:hover {
        background-color: darken($gainsboro, 15%);
      }

      &:first-of-type {
        margin: 25px 0 0 0;
      }

      span {
        display: block;
        margin: 0 0 5px 0;

        &:last-of-type {
          margin: 0;
        }
      }

      b {
        color: $dark-slate;
      }

      a {
        text-align: left;
        color: $dark-slate;
        text-decoration: none;
        display: block;
        font-size: 12px;

        svg {
          &#remove-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            display: block;
            width: 15px;
            height: 15px;

            path {
              fill: $silver-chalice;
            }

            &:hover {
              path {
                fill: $mine-shaft;
              }
            }
          }
        }
      }
    }
  }
}