.form-group {
  margin: $form-margin;

  label {
    color: $form-label-text-color;

    &:first-child {
      display: block;
      margin: $form-label-first-child-margin;
      font-weight: $form-label-first-child-font-weight;
    }

    &:nth-child(n+2) {
      display: inline-block;
      margin: $form-label-nth-n2-child-margin;
    }
  }

  input:not([type=radio]):not([type=checkbox]),
  textarea {
    display: block;
    width: $form-input-width;
    padding: $form-input-padding;
    color: $form-input-text-color;
    background-color: $form-input-background-color;
    background-clip: $form-input-background-clip;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
  }

  input {
    &[type=checkbox] {
      cursor: pointer;
      margin: $form-input-checkbox-margin;
    }
  }
}