.form-group {
  margin: $form-margin;

  label {
    color: $form-label-text-color;

    &:first-child {
      display: block;
      margin: $form-label-first-child-margin;
      font-weight: $form-label-first-child-font-weight;
    }

    &:nth-child(n+2) {
      display: inline-block;
      margin: $form-label-nth-n2-child-margin;
    }
  }

  input:not([type=radio]):not([type=checkbox]),
  textarea {
    display: block;
    width: $form-input-width;
    padding: $form-input-padding;
    color: $form-input-text-color;
    background-color: $form-input-background-color;
    background-clip: $form-input-background-clip;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
  }

  textarea {
    min-height: 50px;
  }

  input {
    &[type=checkbox] {
      position: relative;
      cursor: pointer;
      margin: $form-input-checkbox-margin;
      top: 1px;
    }

    &:focus {
      outline: $focus-outline-state;
    }
  }

  .date-range-picker {
    display: flex;

    div {
      &:first-of-type {
        margin: 0 40px 0 0;
      }
    }

    label {
      margin: 0 5px 0 0;

      &:first-of-type {
        min-width: auto !important;
      }
    }

    input[type="date"] {
      width: 145px !important;
      padding: .35em 0 .35em .35em !important;

      &::-webkit-datetime-edit {
        font-size: 14px;
      }
    }
  }
}