header {
    // background-color: $color-content-background;
    background: purple;
    border-top: 0.4em solid $cob-blue;
    padding: $size-gutter 0;

    a {
        color: $biscay;
        font-family: $font-family-nav;
    }

    .container {
        display: flex;
    }

    .brand {
        min-width: 200px;
        display: inline-block;
        background: blanchedalmond;

        a { text-decoration: none; }

        img {
            width: $size-gutter * 8;
            height: $size-gutter * 8;
            float: left;
            margin: 0 .75rem 0 0;
        }

        h1,
        h2 {
            margin: 0;
            padding: 0;
            vertical-align: top;
            color: $biscay;
            font-weight: 500;
        }

        h1 {
            background: aqua;
            font-size: 1.5rem;
            font-weight: normal;
        }

        h2 {
            font-size: 1em;
            background: grey;
        }

        .site-title {
            height: 100%;
            background: red;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
        }
    }

    .dropdown-wrapper {
        float: right;
        background: teal;
        display: flex;
        align-items: center;
        margin-left: auto; // this brings the element right
    }
}