.float-left {
  float: left;
}

.float-right {
  float: right;
}

.f-float-left {
  margin-right: auto;
}

.f-float-right {
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.width-full {
  width: 100%;
}

.width-one-half {
  width: 50%;
}