.internal-page {
  padding: $internal-page-padding;
  color: $internal-page-text-color;

  h1 {
    display: flex;
    border-bottom: $internal-page-h1-border-bottom;
    margin: $internal-page-h1-margin;
    padding: $internal-page-h1-padding;

    small {
      font-weight: $internal-page-h1-small-font-weight;
      margin-left: auto;
    }
  }

  h2 {
    display: flex;
    margin: $internal-page-h2-margin;
    padding: $internal-page-h2-padding;

    label {
      display: flex;
      justify-content: flex-end;
      flex: $internal-page-h2-label-flex;
      font-size: $internal-page-h2-label-font-size;
      margin: $internal-page-h2-label-margin;

      input {
        margin: $internal-page-h2-label-input-margin;
      }
    }
  }

  small {
    font-weight: $internal-page-h2-small-font-weight;
    margin-left: auto;

    // to-do: lets think about moving these out onto their own
    &.status-tag {
      border-radius: .25em;
      padding: 2px 5px;
      color: white;
      font-size: 16px;

      input {
        margin: 0 5px 0 0;
      }

      &.processed {
        background: $roman-coffee;
      }

      &.approved {
        background: $fern;
      }

      &.approval-ready {
        background: $cob-blue;
      }

      &.not-submitted {
        background: $red;
      }

      &.not-approved {
        background: $california;
      }

      &.select-all {
        margin: 0 0 20px auto;
      }
    }
  }

  a {
    color: $internal-page-a-text-color;

    &:hover,
    &:focus,
    &.active {
      color: $internal-page-a-active-state-text-color;
    }
  }

  ul {
    margin: $internal-page-ul-margin;
    padding: 0 0 0 10px;
    list-style-position: $internal-page-ul-list-style-position;

    &:last-of-type {
      margin: 0;
    }

    li {
      margin: $internal-page-ul-li-margin;
    }
  }

  .emp-no-time-wrapper {
    margin: 20px 0;

    strong {
      display: block;
      margin: 0 0 10px 0;
    }
  }

  .calendar-header-controls {
    padding: 0 !important;
    margin-bottom: 20px;

    a {
      color: $dark-slate;
    }
  }

  // to-do: rethink everythnig below
  .m-b-40,
  table {
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .approval-wrapper {
    border-bottom: 1px solid $silver-chalice;
    margin: 30px 0 20px 0;
    padding: 0 0 20px 0;
  }

  button {
    &.quick-approve {
      background-color: $fern;
      color: white;
      margin: 0 0 0 10px;
      padding: 0 16px;

      &:hover {
        background-color: darken($fern, 10%);
      }
    }
  }

  .approve-process-header-lists {
    border-bottom: 1px solid $silver-chalice;
    margin: 0 0 20px 0;

    small {
      &.status-tag {
        float: left;
        margin: 0 0 5px 0;
        min-width: 140px;
        text-align: center;
      }
    }

    ul {
      display: inline-block;
      margin: 0 0 20px 0;
      padding: 0;
      width: 100%;

      li {
        float: left;
        list-style: none;
        margin: 0 5px 5px 0;
      }
    }
  }

  input[type="submit"] {
    background-color: $fern;
    border-color: $fern;
    color: white;
    margin-left: auto;
  }
}