table {
  background: white;
  border-collapse: collapse;
  color: $dark-slate;
  margin: 0 0 40px 0;

  // &:last-of-type {
  //   margin: 0;
  // }

  a {
    color: $cob-blue;
  }

  tr {
    border-top: 1px solid $silver;

    &:nth-of-type(1) {
      border-top: none;
    }

    &.totals-row {
      background: $gainsboro;
      border: none;

      td {
        border: none;

        &:last-of-type {
          strong {
            font-size: 20px;
          }
        }
      }
    }
  }

  th,
  td {
    padding: 8px;
  }

  th {
    font-weight: 400;
    background-color: $dark-slate;
    color: white;
    border-right: 1px solid $silver;

    &:nth-of-type(1),
    &:last-of-type {
      border-right: none;
    }
  }

  td {
    border-right: 1px solid $silver;

    &:nth-of-type(1),
    &:last-of-type {
      border-right: none;
    }
  }

  &.pay-period-summary-total,
  &.code-hours-summary-total,
  &.accruals-summary {
    th,
    td {
      &:nth-of-type(1) {
        text-align: left;
      }

      &:nth-of-type(n + 2) {
        text-align: right;
      }
    }
  }

  &.code-hours-summary-total {
    width: calc(100% - 4px);

    &.week-one {
      margin-right: auto;
    }

    &.week-two {
      margin-left: auto;
    }
  }

  &.pay-period-notes,
  &.action-history,
  &.time-issues {
    th,
    td {
      &:nth-of-type(1),
      &:nth-of-type(n + 3) {
        text-align: left;
      }

      &:nth-of-type(2) {
        text-align: right;
      }
    }
  }
}